[submodule "Bin2"]
	path = Bin2
	url = https://github.com/Wonderland-Games/Mengine-Dev-Binary.git
	branch = master
[submodule "Foundation"]
	path = Foundation
	url = https://github.com/irov/Mengine-Python-Foundation.git
	branch = master
[submodule "HOPA"]
	path = HOPA
	url = https://github.com/irov/Mengine-Python-HOPA.git
	branch = master
[submodule "MobileKit"]
	path = MobileKit
	url = https://github.com/irov/Mengine-Python-MobileKit.git
	branch = master
[submodule "UIKit"]
	path = UIKit
	url = https://github.com/irov/Mengine-Python-UIKit.git
	branch = master
[submodule "PlayFab"]
	path = PlayFab
	url = https://github.com/irov/Mengine-Python-PlayFab.git
	branch = master
[submodule "Credentials"]
	path = Credentials
	url = https://github.com/Wonderland-Games/DoctorHO-Credentials.git
